@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background: linear-gradient(90deg, #9bff9c, #f3ff68);
}

header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  display: flex;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  height: 5.9rem;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: auto;
  padding-top: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  padding-bottom: 1rem;
}

.nav-link {
  color: black;
  padding: 0 2rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px; /* adjust the height to your liking */
  background-color: #058006; /* adjust the background color to your liking */
  display: none;
  border-radius: 10px;
}

.questions {
  margin: 0 0.5rem;
  color: #058006;
  font-weight: bold;
}

/* SEÇÃO DE INFORMAÇÕES */

section {
  margin: 0 5rem;
  padding: 0 5rem;
  border-radius: 2rem;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.information > div > img {
  margin: 5rem 0 3rem 0;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #058006;
  margin-bottom: 1rem;
}

.information-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.information-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10rem;
}

/* FORMULÁRIO */

form {
  position: absolute;
  top: 32rem;
  background-color: white;
  border-radius: 0.7rem;
  box-shadow: -15px 15px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 29rem;
  height: 31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  color: #058006;
  font-weight: bold;
  font-size: 2rem;
  padding: 0 1rem 1rem 1rem;
}

label {
  width: 23rem;
  height: 3rem;
  margin: 0.7rem;
  background-color: #05800630;
  border: 1px solid #666;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

label > span {
  font-weight: bold;
  font-size: 1.2rem;
}

button {
  position: absolute;
  bottom: -1.5rem;
  background-color: #058006;
  color: white;
  border-radius: 28px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  padding: 0.8rem 4rem;
  cursor: pointer;
}

button:hover {
  background-color: #51b251;
  color: white;
  transform: translateY(-7px);
  box-shadow: 0 15px 20px #05301081;
  transition-duration: 0.5s;
}

.btn-check:checked+.btn {
  background-color: #058006;
  border-color: #058006;
}

.btn-outline-primary {
  --bs-btn-color: #058006;
  --bs-btn-border-color: #058006;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #058006;
  --bs-btn-hover-border-color: #058006;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #058006;
  --bs-btn-active-border-color: #058006;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #058006;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #058006;
  --bs-gradient: none;
}

/* SEÇÃO DE QUALIDADE */

.quality-services {
  background-color: rgb(247, 252, 255);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.quality-services > div > img {
  margin-top: 10rem;
}

.quality-block {
  max-width: 24rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

h3 {
  font-weight: bolder;
  font-size: 2.5rem;
  color: #058006;
}

h4 {
  color: #058006;
  font-size: 1.5rem;
}

/* SEÇÃO SOBRE */

.about {
  background-color: rgb(247, 252, 255);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.about-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-block > h3 {
  padding-bottom: 2rem;
}
.feedback {
  background-color: rgb(247, 252, 255);
  padding-top: 2rem;
  padding-bottom: 5rem;
  margin-top: 2rem;
}
.feedback > h3 {
  text-align: center;
}
.feedback > p {
  text-align: center;
  font-weight: bold;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback_card {
  width: 60rem;
  height: 27rem;
  padding: 2rem;
  margin: 20px;
  background-color: #e9fde9;
  transition: transform 0.3s;
  transform: scale(1);
  border-radius: 20px;
}
.feedback_card:hover {
  transform: scale(1.1);
}
.img_invertida {
  transform: scale(-1);
  float: right;
}
.texto_feedback {
  margin: 0;
}
.autor {
  margin-top: 2rem;
  text-align: end;
  font-weight: bold;
}

.quality-block {
  padding-top: 5rem;
}
#title_feedback {
  text-align: center;
  color: #058006;
}
#subtitle_feedback {
  text-align: center;
}

/* RODAPÉ */

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

footer > p {
  color: #058006;
  font-weight: bold;
}

.footer-services {
  padding-top: 5rem;
}

.footer-services > p {
  font-weight: bold;
}

.footer-contacts {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.footer-contacts > a > p {
  font-weight: bold;
}
