:root{

    --color_white: #FFFFFF;

    --color_green: #058006;

}

html{

    font-size: 10px;

}

body{

    margin: 0rem;
    padding: 0rem;

}

header{

    background-color: var(--color_white);
    border: .1rem solid #058006;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

    h1{

        font-family: "Inter", sans-serif;
        font-weight: 800;
        font-size: 3.6rem;
        color: var(--color_green);

        margin: 2rem 0rem 2rem 10rem;

    }

    #iconToClose{

        width: 3rem;

        margin: 0rem 5.5rem 0rem 0rem;

    }

form{

    background: linear-gradient(#f3ff68, #9bff9c, #9bff9c);
    display: flex;
    justify-content: space-around;
    
}

    .divInputsAndLabel{

        margin: 0rem 0rem 10rem 10rem;

    }

        .labelAndInput{

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            margin: 5rem 0rem 0rem 5rem;

        }

        .labelAndInput:first-child{

            margin: 10rem 0rem 0rem 5rem;

        }

            .titleInput{

                font-family: "Sansita", sans-serif;
                font-size: 2.4rem;
                font-weight: 400;

                color: var(--color_green);

                margin: 0rem 0rem 2rem 2.2rem;

            }

            .inputForm{

                width: 48.4rem;

                border-radius: 2.8rem;
                border: 0rem;

                font-family: "Inter", sans-serif;
                font-size: 2rem;
                font-weight: 400;
                padding: 1.5rem 0rem 1.5rem 3rem;

                color: #909090C7;

            }


        #divButton{

            display: flex;
            justify-content: center;

            margin: 10.8rem 2rem 3rem 10rem;
        
        }    

            button{

                font-family: "Inter", sans-serif;
                font-size: 2rem;
                font-weight: 700;
                padding: 1.5rem 5rem 1.5rem 5rem;

                background-color: var(--color_green);
                color: var(--color_white);
                border: 0rem;
                border-radius: 2.8rem;

            }

        #imgEmployee{

            margin: 5rem 0rem 0rem 2rem;

            width: 58rem;

        }
