:root{

    --color_white: #FFFFFF;

    --color_green: #058006;

}

html{

    font-size: 10px;

}

body{

    margin: 0rem;
    padding: 0rem;

}

header{

    background-color: var(--color_white);

}

    h1{

        font-family: "Inter", sans-serif;
        font-weight: 800;
        font-size: 3.6rem;
        color: var(--color_green);

        margin: 2rem 2rem 3rem 10rem;

    }