:root {
    --color_white: #FFFFFF;
    --color_blue: #81A4FF;
}

html {
    font-size: 10px;
}

body {
    margin: 0rem;
    padding: 0rem;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 3.6rem;
    color: #5786FF;
    margin: 13rem 12rem 5rem 12rem;
}

main {
    display: flex;
    justify-content: space-around;
}

.inputs {
    width: 50vw;
    background: linear-gradient(145deg, #81A4FF, #C4E4C5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-inputs {
    background: linear-gradient(145deg, #C4E4C5, #81A4FF);
    border-radius: 0.7rem;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 7rem 5.8rem;
    padding: 8rem 7.3rem 7.6rem;

}


.input-form {
    width: 43.5rem;
    border-radius: 2.8rem;
    margin-bottom: 5.8rem;
    border: none;
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    padding: 1.5rem 0rem 1.5rem 3rem;
    color: #909090C7;
}

textarea {
    resize: none;
    width: 43.5rem;
    height: 20rem;
    border-radius: 2.8rem;
    margin-bottom: 5.8rem;
    border: none;
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    padding: 1.5rem 0rem 1.5rem 3rem;
    color: #909090C7;
}

.image {
    width: 50vw;
}